<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                <div>
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" placeholder="Enter username" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" placeholder="Enter password" name="password" required>
                </div>
                <div>
                    <a href="{% url 'register' %}">Register as New User</a>
                </div>  
                <div>
                    <button type="submit" id="submit" name="submit">Login</button>
                </div>
            </div>
        </form>
    </body>
</html>